
/* Color scheme */
$hue : 220;

$sat : 10%;
$s0  : 10%;
$s1  : 26%;

$light : 80%;
$l0    : 10%;
$l1    : 80%;
$l2    : 90%;
$l3    : 99%;

$accent-offset : 180;
$bg            : hsl($hue, $sat, $l3);
$color         : hsl($hue, $sat, $l0);
$full          : hsl($hue, $sat, $light);
$accent        : hsl($hue+$accent-offset, $sat, $light);
$accent-text   : hsl($hue+$accent-offset, $sat, $l2);

