
body {
    font-family: 'Inder', sans-serif;
    background-color: $bg;
    color: $color;
}

#container {
    a {
        color: hsl($hue, $sat, $l1);
    }

    h1 a {
        color: $color;
    }

    > header {
        width: 100%;
        background-color: hsl($hue, $sat, $l4);
        height: golden-ratio(2em, 2);
        border: 1px solid hsl($hue, $sat, $l1);
        box-shadow: 0 0 2px 2px hsla($hue, $sat, $light, 0.3);

        * {
            margin-left: 1px;
            margin-right: 1px;
            margin-top: 0;
            padding-top: 0.75em;
        }

    }

    > div {
        margin-left: 1px;
        margin-right: 1px;
    }

    > footer {
        border: 1px solid hsl($hue, $sat, $l1);
        color: hsl($hue, $sat, $l5);
        background-color: hsl($hue, $sat, $l2);

        a {
            color: hsl($hue, $sat, $l5);
        }

        div {
            margin-left: 1em;
        }
    }
}

header a {
    text-decoration: none;
    color: $color;
}

h1 a {
    text-decoration: none;
    color: $color;
}

section {
    h1 {
        font-size: 1.4em;
        font-weight: bold;
        &:first-child {
            margin-top: 0;
            margin-bottom: 0.1em;
        }
    }

    p:first-child {
        font-size: larger;
    }
}

footer {
    font-size: golden-ratio(1em, -1);

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        display: inline;
        vertical-align: top;
        padding-right: 0.5em;

        + li:before {
            content: '· '
        }

        div {
            display: inline-block;
        }
    }
}

code {
    font-family: 'Ubuntu Mono', monospace;
}

