
@import 'bourbon/bourbon';
@import 'neat/neat';

@media screen and (min-width: $medium-width) {
    #container {
        > header * {
            width: $page-width;
            margin-left: auto;
            margin-right: auto;
        }

        > div {
            width: $page-width;
            margin-left: auto;
            margin-right: auto;
        }

        > footer > div {
            width: $page-width;
            margin-left: auto;
            margin-right: auto;

            .column {
                @include span-columns(3);
            }
        }
    }
}

@media screen and (min-width: $wide-width) {
}

